/*universal style*/
*{
/*    background-color: rgb(252  , 252, 100);*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

/*header*/

#headdiv {

    width: 100%;
    height: 70px;
    /*background-color: black;*/
}

/*top div in the header*/

 #navOne {
    background-color: rgba(126, 170, 250, 0.788);

    height: 30px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 50px;

}

/*anchor tag in the top-div 'in header*/

#navOne div a{
    display: inline-flex;
    margin: 5px auto;
    text-decoration: none;
    padding-right: 10px;
    color: white;
    

}

/*icons style with general class*/

.fa {
    color: white;
    margin-right: 10px;
    
}

/*second div in the header*/

#navTwo {
    background-color: rgba(28, 4, 167, 0.849);
    color: white;
    height: 40px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*second div in the header tag */

#logo {
    padding-left: 100px;

}
#logo img {
    width: 30px;
    border-radius: 20px;
    margin: 20px;
}

#navLink {
    margin-right: 250px;
}

#navLink a {
    text-decoration: none;
    color: white;
    margin-right: 40px;
    font-size: smaller;
    font-weight: bold;
}

/*MAIN SECTION STYLING*/

#homePage {
    
    background: linear-gradient(to bottom, rgba(12, 1, 39, 1), rgba(27, 3, 240, 0.7));
    background-image: url("./others/LVSEXPOSURE2dark.jpg");
    background-position: cover;
    background-size: 100% 88vh;
    background-repeat: no-repeat;
    height: 88.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#welcomeNote {
    background: linear-gradient(to bottom, rgba(128, 139, 196, 0), rgba(94, 109, 187,0.9));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 70%;
    height: 120px;
    border-radius: 30px;
}

#welcomeNote h1 {
    color: white;
    font-size: 50px;
    
}

#welcomeNote p {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}


/* About section starts here */
.about_container{
    height:100vh;
    /* background-color: blue; */
    padding-top: 30px;
    
      
}

.about_txt{
    width:300px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgba(54, 63, 140, 100%);
    margin: 20px auto;
    /* background-color: red; */
}

.about_vision_and_mision_text{
    margin-top: 50px;
    /* background-color: yellow; */
}
.about_vision_and_mision_text h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color:rgba(54, 63, 140, 100%);
    margin-top: 7px;
}

.vision_text h3{
    margin-top: 50px;
}
.about_video_container{
   width:250px;
   position:relative;
   margin-top:30px;
   background-color: green;
   
}



.about_video_container img{
    width: 100%;
    height:auto;
    /* border: 4px solid rgba(54, 63, 140, 100%); */
} 

.About_text_video_flex{
    display: flex;
    justify-content:space-around;


}
/* video container style */
.about_img_name{
    width:243px;
    height:40px;
    background: rgba(225,225,225,0.5);
    position:absolute;
    top:85.5%;
    right:3px;
    text-align: center;
    justify-content: center;

}

/* video Stylling */

.video-container {
    /* padding: 0; */
    position: relative;
    width: 310px;
    height:auto;
    border: 4px solid rgba(54, 63, 140, 100%);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px;
}

#vPayer{

    /* background-color: red; */
    padding: 0;
    margin: 0;
    width: 290px;

}
.video-text {
            /* position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
             */
            font-size: 24px;
            text-align: center;
            width:300px;
            height:50px;
            color:white;
            display: flex;
            justify-content: center;
            align-items: center;
            background:rgba(54, 63, 140, 100%);
            border-bottom-left-radius:10px ;
            border-bottom-right-radius:10px;
}



/* About section Responsiveness*/
@media screen and (max-width: 768px) {
    .about_container {
        padding: 20px;
        /* height:100%; */
    }

    .about_txt {
        width: 50%;
    }

    .about_vision_and_mision_text {
        margin-top: 50px;
    }

    .about_vision_and_mision_text h3::after {
        margin-top: 5px;
    }

    .vision_text h3 {
        margin-top: 30px;
    }

    .About_text_video_flex{
        flex-direction: column;
        align-items: center;
    }

    .about_video_container {
        margin-top: 30px;
    }

    .about_img_name {
        top: auto;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 10px;
    }
}


/* Staff section starts here*/

.staff_container{
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    padding-top: 10px;
    
}

.staff_container h2{
    margin-top: 20px;
    padding: 20px;
    /* background-color: black; */
    /* display: flex; */
    font-size: 30px;
    text-align: center;
    /* color: white; */
}
.staff_container .staff_text_box{
    width:700px;
    height:50px;
    padding: 10px;
    background-color: rgba(54, 63, 140, 66%);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px auto;
}
.staffs{
    width: 240px;
    height: 240px;
    margin: 10px;
    /* padding: 5px; */
    background-color: blue;
    border-radius: 50%;
}

.staffs img{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 20px;
}


.staff_images{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    /* position: relative; */
}
.name{
    width:250px;
    height:40px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(54, 63, 140, 100%);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px;
    /* position:absolute;
    bottom:0px; */
}


/* .staff_img1, .staff_img2, .staff_img3 {
    position: relative;
}

.staff_img1::after, .staff_img2::after, .staff_img3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    background: linear-gradient(rgba(54, 63, 140, 0.16), rgba(54, 63, 140, 0.16));
}

.staff_slider1, .staff_slider2{
    width:50px;
    height:50px;
    border-radius: 50px;
    position:absolute;
    top:40%;
    color:white;
    background:rgba(217, 217, 217, 64%);
    display:flex;
    justify-content: center;
    align-items: center;
}

.staff_slider1{
    left:10%;
}

.staff_slider2{
    right:10%;
} */

@media screen and (max-width: 768px) {
    .staff_container {
        margin-top: 10px;

        .staff_text_box{
            width:70%;
            text-align: center;
            margin:5px auto;
        }
        .staff_images{
            flex-direction: column;
        }
        .staff_img1, .staff_img2, .staff_img3{
            width:300px;
            height: 300px;
            margin:50px auto;
        }
        .staff_img1 img, .staff_img2 img, .staff_img3 img{
            width:100%;
            height:100%;
        }
        .staff_img1_name, .staff_img2_name, .staff_img3_name{
            width:300px
        }
        .staff_slider1,  .staff_slider2{
            display:none;
        }
    }
}
